<ion-content>
  <ion-button class="btn" routerLink="/login">Volver</ion-button>
  <ion-img src="assets/images/Pokeregistro.png"></ion-img>
  <ion-list>
    <ion-list>

      <ion-item>
        <ion-input label="Correo" type="email" [(ngModel)]="modeloCorreo" placeholder="usuario@dominio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" [(ngModel)]="modeloContrasena" placeholder="Ingrese nueva contraseña" type="password" minlength="8" maxlength="15"  value="password"></ion-input>
      </ion-item>


    </ion-list>
  </ion-list>
  <ion-button (click)="almacenarUsuario()" class="btn" expand="block" >Registrar</ion-button>

</ion-content>

