<ion-header>
  <ion-toolbar class="btn">
    
    <ion-title ><ion-button routerLink="/principal"><ion-icon name="arrow-back-outline"></ion-icon></ion-button> </ion-title>
  </ion-toolbar>


<ion-card>
  <h1>Datos del usuario</h1>

  <img alt="Silhouette of mountains" width="90%" src="./assets/images/perfil.png" />
  <ion-card-header>
    <ion-card-title>Gabriel Catrileo</ion-card-title>
    <ion-card-subtitle>Entrenador Novato</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-input>Usuario:a@a</ion-input>
  </ion-card-content>
</ion-card>
</ion-header>