<ion-header>
  <ion-toolbar class="btn">
    <ion-title>Pokeamigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
<!--Imagen de login--> 
<ion-item >
  <ion-img src="assets/images/Pokeamigos.png"></ion-img>
</ion-item>
<ion-item >
  <ion-img src="assets/images/Pokemon.svg"></ion-img>
</ion-item>
<!--Usuario-->
  <ion-item >
    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="Ingrese su correo" [(ngModel)]="modeloUsuario" ></ion-input>
  </ion-item>
<!--Contraseña-->
  <ion-item>
    <ion-label position="floating" >Contraseña</ion-label>
    <ion-input placeholder="Ingrese su Contraseña" type="password" [(ngModel)]="modeloContrasena"  ></ion-input>
  </ion-item>
<!--Boton de iniciar sesion-->
  <ion-button (click)="validarCredenciales()" class="btn" expand="block" routerLink="/principal">Iniciar sesion</ion-button>
  <ion-item class="ion-text-center">
    <p > ¿No tienes una cuenta? <a routerLink="/registro"> Regístrate </a> </p>
  </ion-item>

</ion-content>