/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/*Color de la interfaz*/

.poke {
    --background:#ff0000;
    --color:#ffffff;

    --background-hover: #0400ff;

}

.yellow {
    --background:#ffcc01;
}


.btn {
    --background: linear-gradient(101deg, rgba(2,0,36,1) 0%, rgba(29,20,108,1) 0%, rgba(136,78,40,1) 0%, rgba(137,101,133,1) 0%, rgba(85,85,134,1) 0%, rgba(0,82,255,1) 0%, rgba(255,0,0,1) 100%, rgba(100,94,149,1) 100%, rgba(167,68,97,1) 100%);

    --background-hover:  linear-gradient(101deg, rgba(2,0,36,1) 0%, rgba(29,20,108,1) 0%, rgba(136,78,40,1) 0%, rgba(137,101,133,1) 0%, rgba(255,0,0,1) 0%, rgba(167,68,68,1) 33%, rgba(0,82,255,1) 100%, rgba(255,0,0,1) 100%, rgba(100,94,149,1) 100%);
}

.btn-big {
    height: 20vh;
}
